{% load static %}
{% load static_dist %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/svg+xml" href="{% static 'favicon.svg' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
    <script type="module" crossorigin src="{% dist_static 'index' '.js' %}"></script>
    <link rel="stylesheet" crossorigin href="{% dist_static 'index' '.css' %}">
  </head>
  <body>
<!--    <div id="root"></div>-->
    <div id="root">Test content</div>
  </body>
</html>
